#main-div {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 5px;
  height: 100vh;
}

div mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  padding: 5px 5px 5px 5px;
}
