<p>login works!</p>

<div id="main-div">
  <mat-form-field>
    <label for="email">Email: </label>
    <input matInput type="text" [formControl]="email" />
  </mat-form-field>
  <mat-form-field>
    <label for="password">Password: </label>
    <input matInput type="password" [formControl]="password" />
  </mat-form-field>
  <span
    ><button mat-raised-button color="primary" (click)="login()">
      Login
    </button></span
  >
  <span
    ><button mat-raised-button color="primary" [routerLink]="'/signup'">
      Register
    </button></span
  >
</div>
