<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      (selectedPage)="changePage($event)"
      [currentPage]="page"
      *ngIf="page"
      (onCloseSidenav)="onClose($event, sidenav)"
      [loggedInUser]="loggedInUser"
      (onLogout)="logout($event)"
    ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Online Concert Ticket</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1.5vw" class="navigation-items">
          <li><a routerLink="/main">Main</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/concerts">Concerts</a></li>
          <li *ngIf="!loggedInUser"><a routerLink="/login">Login</a></li>
          <li *ngIf="!loggedInUser"><a routerLink="/signup">Register</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/profile">Profile</a></li>
          <li *ngIf="loggedInUser">
            <a routerLink="/login" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

<!--
    <ng-template [ngIf]="page === 'main'">
      <app-main></app-main>
    </ng-template>
    <ng-template [ngIf]="page === 'concerts'">
      <app-concerts></app-concerts>
    </ng-template>
    -->
