<div id="main-div">
  <h1>
    Welcome to Online Concert Ticket<span *ngIf="username"
      >, {{ username }}</span
    >!
  </h1>
  <mat-card>
    <mat-card-content>
      <p>
        Hey there! Before you dive in, make sure to
        <strong>register</strong> and create your personal account. It's quick
        and easy, and it's your first step to the world of music.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <img mat-card-image src="https://koncertajanlo.hu/keptar_cikkek/26.jpg" />
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        Once you're logged in, you'll see a shiny new
        <strong>Profile</strong> tab. This is your backstage pass to change your
        username and check out all the awesome concerts you've got tickets for.
        Cool, right?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <img
      mat-card-image
      src="https://worldtickets.hu/storage/2016/05/koncert3-1024x682.jpg"
    />
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        And guess what? After you log in, you'll see the
        <strong>Concerts</strong> tab. It's like a treasure chest, filled with
        tickets to your favorite concerts. Just a few clicks and you're ready to
        rock and roll!
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <img
      mat-card-image
      src="https://m.blog.hu/ro/rockstation/image/aws/park2021/0248.jpg"
    />
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        Don't forget to check out the latest gigs and festivals. With our
        platform, you're always in the front row. So, what are you waiting for?
        Let's get the party started!
      </p>
    </mat-card-content>
  </mat-card>
</div>
